
/* Layout formatting */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #EEE2DC;
    margin: 0; 
    padding: 0; 
    border: 0;
}

nav {
    background-color: #E7717D;
    display: flex;             
    align-items: center;       
}

nav a {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
}

#navbar-icon {
    background-color: white;
    width: 30px;
    border-radius: 5px;
    display: inline-block;
}

.body {
    margin: 10px; 
    padding: 0px; 
    border: 0px; 
    font-size: 10px; 
    color: #000000;     
    text-align: center; 
}

/* Login & register formatting */

.login-register-div {
    margin: 20px;
    padding: 10px 0;
    background-color: #E3AFBC;
    border-radius: 10px;
    font-size: 18px;
}

.login-register-div h2 {
    font-size: 24px;
}

.form-group input {
    width: 80%;
    height: 30px;
    padding: 10px 10px;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 10px;
}

.login-register-div input[type="submit"] {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    background-color: #E7717D;
    color: white;
    border: thin solid darkred;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

.login-register-div input[type="submit"]:hover {
    background-color: #E3AFBC;
    color: white;
}

.auth-link {
    text-decoration: none;
    color: darkred;
}

.auth-link:hover {
    color: black;
}

/* Create formatting */

#paint-menu {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E3AFBC;
    height: 70vh;
    border-radius: 10px;
    margin-left: 5vw;
    border: thick solid darkred;
    width: 40vh;
    margin-top: 55px;
}

@media only screen and (max-width: 850px) {
    #paint-menu {
        width: 80vw;
        float: none;
        margin: auto;
    }

    #image-title {
        width: 80vw;
        margin-bottom: 2vh;
    }
}

#paint-menu > div {
    padding-top: 2vh;
    padding-bottom: 2vh;
    align-items: center;
}

#paint-menu input[type="radio"] {
    display: none;
}

#paint-menu input[type="radio"] + label {
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border: 3px inset transparent;
}

#paint-menu input[type="radio"] + label img {
    height: 7vh;
    width: 7vh;
}

#paint-menu input[type="radio"]:checked + label {
    border-bottom: 1vh solid #E7717D;
    background-color: white;
}

#paint-menu input[type="range"] {
    background: darkred;
    height: 5vh;
    width: 10vh;
}

#paint-menu input[type="color"] {
    height: 4vh;
    width: 10vh;
}

#paint-menu button {
    margin: 1vh;
    padding: 2vh;
    font-size: 18px;
    background-color: darkred;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

#paint-menu button:hover {
    background-color: black;
}

#canvas-container {
    display: inline-block;
}

#image-title {
    background-color: white;
    font-size: 26px;
    margin-bottom: 5px;
    padding: 5px 0;
    border: thick solid darkred;
    width: 60vw;
    border-radius: 10px;
    padding-left: 5px;
    height: 30px;
}

#canvas {
    background-color: white;
    display: center;
    border-radius: 10px;
    width: 60vw;
    height: 70vh;
    border: thick solid darkred;
}

@media only screen and (max-width: 850px) {
    #image-title {
        width: 90vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    #canvas {
        width: 90vw;
        margin-bottom: 2vh;
    }
}

/* Gallery formatting */

.gallery-heading {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 0.25px 0;
    font-size: 20px;
    color: white;
}

.dropdown {
    padding-top: 15px;
    float: left;
}

.dropdown-button {
    border: 0;
    border: thin solid #E7717D;
    background-color: #EEE2DC; 
    color: #E7717D;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
}

.dropdown-button:hover {
    background-color: #E7717D;
    color: white;
}

.dropdown-content {
    display: none;
    clear: left;
}

.dropdown-option {
    border: thin solid darkred;
    background-color: #EEE2DC;
    color: darkred;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.dropdown-option:hover {
    background-color: white;
}

.dropdown-option a {
    color: darkred;
    text-decoration: none;
}

@keyframes dropdownReveal {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
        background-color: lightgrey;
    }
}

#dropdown-option-1 {
    animation-name: dropdownReveal;
    animation-duration: 0.1s;
    animation-play-state: paused;
}

#dropdown-option-2 {
    animation-name: dropdownReveal;
    animation-duration: 0.2s;
    animation-play-state: paused;
}

#dropdown-option-3 {
    animation-name: dropdownReveal;
    animation-duration: 0.3s;
    animation-play-state: paused;
}

#dropdown-option-4 {
    animation-name: dropdownReveal;
    animation-duration: 0.4s;
    animation-play-state: paused;
}

.gallery-container {
    margin: 20px;
    background-color: #E3AFBC;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    clear: left;
    text-transform: uppercase;
}

.gallery-container-single {
   padding-bottom: 20px;
}

.image-container {
    position: relative;
    text-align: left;
}

.image-likes {
    position: absolute;
    background-color: #E7717D;
    color: white;
    bottom: 26px;
    width: 100px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    margin: 0 15px;
    padding-left: 5px;
  }

.gallery-image {
    background-color: white;
    width: 390px;
    height: 260px;
    margin: 0 10px;
    border-radius: 10px;
    border: thick solid darkred;
    box-shadow: 8px 8px 6px #E7717D;
}

.user-links {
    text-decoration: none;
    color: darkred;
}

.user-links:hover {
    color: black;
}

.user-post-buttons {
    padding-top: 20px;
}

.gallery-button-unpost, .gallery-button-post, .gallery-button-edit, .gallery-button-delete, .gallery-button-like, .gallery-button-unlike {
    border: none;
    border-radius: 10px;
    background-color: #E7717D;
    color: white;
    font-size: 16px;
    width: 75px;
    height: 30px;
    margin: 0 5px 0 5px;
}

.gallery-button-unpost:hover, .gallery-button-post:hover, .gallery-button-edit:hover, .gallery-button-delete:hover, .gallery-button-like:hover, .gallery-button-unlike:hover {
    background-color: darkred;
}

.title-color {
    background-image: linear-gradient(to left, darkred, #E7717D, #E3AFBC, #E7717D, darkred);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
    font-family: Garamond, serif;
}

